.idea
.coverage
.tox
.pytest_cache
.mypy_cache
ci_cd_template.*
htmlcov

.vscode
.zed

.venv
uv.lock
.python-version
pyproject.toml
**/__pycache__/
*.egg-info
*.egg

.env

data/*
!data/README.md
!data/wikidata_topics.csv
!data/Prompt_Examples
outputs
src/agent_reasoning/symbolic_solver/fol/antlr/*
!src/agent_reasoning/symbolic_solver/fol/antlr/fol.g4
!src/agent_reasoning/symbolic_solver/fol/antlr/__init__.pyi
# !src/agent_reasoning/symbolic_solver/fol/antlr/__init__.py
src/agent_reasoning/symbolic_solver/third_party/*
!src/agent_reasoning/symbolic_solver/third_party/logic_lm/

preprocessing/fld_syntax/antlr/*
!preprocessing/fld_syntax/antlr/fld.g4
!preprocessing/fld_syntax/antlr/__init__.py
